
/* navbar start */
.Admin_nav{
    background-color: var(--main_color_dark);
    color: whitesmoke;
    
}
.admin_content
{
    max-width: 75%;
}
.top_nav_item{
    padding: 12px ;
    font-size: 22px;
    border-bottom: solid #38383874 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_item{
    padding: 17px 25px;
    background-color: var(--main_color_dark);
    font-size: 20px;
    border-bottom: solid #38383874 1px;
    transition:all .3s ease-in-out;
    text-align: start;
}
.nav_item:hover{
    transform: scale(1.1);
    color: var(--sec_color);
    border-radius: 4px;

}
/* navbar end */