/* navbar start */
.Admin_nav{
    background-color: var(--main_color_dark);
    color: whitesmoke;
    width: 20%;
    position: fixed;
    top: 76px;
    left: 0px;
    min-height: 100vh;
}
.admin_content{
    width: 80%;
    position: relative;
    left: 20%;
}
.top_nav_item{
    padding: 12px ;
    font-size: 22px;
    border-bottom: solid #38383874 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_item{
    padding: 17px 25px;
    background-color: var(--main_color_dark);
    font-size: 20px;
    border-bottom: solid #38383874 1px;
    transition:all .3s ease-in-out;
    text-align: start;
}
.nav_item:hover{
    transform: scale(1.1);
    color: var(--sec_color);
    border-radius: 4px;

}
/* navbar end */
/* locations */
.locations .nav-link {
    color: inherit;
}
.locations .nav-link:hover {
    color: #ed1c25;
    border-color: #ed1c25;
}
.locations .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-bg);
    background-color: #ed1c25;
    border-color: #ed1c25;
}