/* navbar start */
.Admin_nav{
    background-color: var(--main_color_dark);
    color: whitesmoke;
    width: 22%;
    
}
.admin_content
{
    width: 78%;

    width: 20%;
    position: fixed;
    top: 76px;
    left: 0px;
    min-height: 100vh;
}
.admin_content{
    width: 80%;
    position: relative;
    left: 20%;
}
.top_nav_item{
    padding: 12px ;
    font-size: 22px;
    border-bottom: solid #38383874 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_item{
    padding: 17px 25px;
    background-color: var(--main_color_dark);
    font-size: 20px;
    border: solid #46464652 1px;
    transition:all .3s ease-in-out;
    text-align: start;
}
.nav_item:hover{
    transform: scale(1.1);
    color: var(--sec_color);
    border-radius: 4px;

}
/* navbar end */

/* start products */

.add_product{
    transition:all .3s ease-in-out;
    padding: 10px;
    padding-top: 33px;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close{
    height: 33px;
}
.close_icon{
    transform: rotate(180deg);
}
.add_item
{
    margin: 12px 0px;
}
.tuggle_button
{
    position: absolute;
    top: 91px;
    right: 0px;
    width: 205px;
    height: 30px;
}
.En_tuggle_button
{
    left: 0px;
}

/* end products */
/* dash bord start */

.dash_item{
    background-color: #6363631f;
    padding: 20px;
    border-radius: 20px;
    margin: 7px;
}
.dash_card
{
    background-color: #6363631f;
    padding: 20px;
    border-radius: 20px;
    margin: 7px;
    display: flex;
    justify-content: space-between;
}
/* dash bord end */

/* locations */
.locations .nav-link {
    color: inherit;
}
.locations .nav-link:hover {
    color: #ed1c25;
    border-color: #ed1c25;
}
.locations .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-bg);
    background-color: #ed1c25;
    border-color: #ed1c25;
}

