/* navbar style start  */
.logo {
    width: 120px;
    margin: 0px 40px;
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    transition:all .6s ease-in-out;
    filter: drop-shadow(0px 0px 3px #fdc71419 );
}
.logo:hover{
    filter: drop-shadow(0px 0px 3px #fdc71479 );
}
.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: inherit;
    box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);

}
.nav_link{
    transition:all .3s ease-in-out;
    margin: 0px 10px;
}
.nav_link:hover
{
    color: var(--main_color);
    font-size: 20px;
    margin: 0px 13px;
}
.login_link:hover{
    margin: 0px 7px;
}
.order_link:hover{
    margin: 0px 10px;
}
.setting_button
{
    margin: 7px 17px;
    color: var(--main_color);
    transition:all .3s ease-in-out;
}
.setting_button:hover{
    transform: rotate(25deg);
}
.bg-dark-nav
{
    background-color: rgb(51, 51, 51);
}
.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: inherit;
    --bs-table-bg: inherit;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: inherit;
    --bs-table-striped-bg: initial;
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 0;
    vertical-align: center;
    border-color: var(--bs-table-border-color);
    }
/* navbar style end  */
/* card start */
.card .type{
    font-size: 16px;
}
/* card end */

/* loading */
.loading {
    width: 100vw;
    height: 150vh;
    background-color: rgb(0 0 0 / 40%);
    position: fixed;
    top: -170px;
    right: 0px;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading::before {
    content: "";
    width: 85px;
    height: 85px;
    border: 7px dotted transparent;
    border-left-color: #c5222a50;
    border-top-color: #c5222ab2;
    position: absolute;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.display_non
{
    display: none;
}
.tableShow{
   height: fit-content;
}